<ion-header>
  <ion-navbar>
    <ion-title text-center color="light">
      {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>
    <h2>Proximos Partidos</h2>
  </ion-title>
  <ion-card (click)="expandMatchNotPlayed(match)" *ngFor="let match of matchesNotPlayed">
    <ion-card-title>
      <ion-badge float-right>{{ match.date | titlecase }}<br>{{ match.time }}</ion-badge>
      <p>
        {{ match.team1 }}
      </p>
      <p>{{ match.team2 }}</p>
    </ion-card-title>
    <ion-card-content class="match-expanded animated fadeIn" *ngIf="match.expanded">
      <ion-item>
        <span float-left>Competicion: </span>
        <span float-right>{{ match.competition }}</span>
      </ion-item>
      <ion-item>
        <span float-left>Fecha: </span>
        <span float-right>{{ match.date | titlecase }}</span>
      </ion-item>
      <ion-item>
        <span float-left>Hora: </span>
        <span float-right>{{ match.time }}</span>
      </ion-item>
      <ion-item>
        <span float-left>Canal/es: </span>
        <span float-right *ngFor="let tvs of match.tvs">
          {{ tvs }}
        </span>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-title>
    <h2>Partidos Anteriores</h2>
  </ion-title>
  <ion-card (click)="expandMatchPlayed(match)" *ngFor="let match of matchesPlayed">
    <ion-card-title>
      <p>
        {{ match.team1 }} {{ match.score1 }}
        <ion-badge float-right>{{ match.date | titlecase }}</ion-badge>
      </p>
      <p>{{ match.team2 }} {{ match.score2 }}</p>
    </ion-card-title>
    <ion-card-content class="match-expanded animated fadeIn" *ngIf="match.expanded">
      <ion-item>
        <span float-left>Competicion: </span>
        <span float-right>{{ match.competition }}</span>
      </ion-item>
      <ion-item>
        <span float-left>Fecha: </span>
        <span float-right>{{ match.date | titlecase }}</span>
      </ion-item>
      <ion-item>
        <span float-left>Hora: </span>
        <span float-right>{{ match.time }}</span>
      </ion-item>
      <ion-item>
        <span float-left>Canal/es: </span>
        <span float-right *ngFor="let tvs of match.tvs">
          {{ tvs }}
        </span>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>