<ion-header>
    <ion-navbar>
        <ion-title text-center>{{ title }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngIf="!teamSelected">
            <ion-col (click)="selectCompetition(competition)" col-4 text-center *ngFor="let competition of competitions">
                <img text-center class="img-country" src="{{ competition.img | image: 'country' }}">
                <br>
                <ion-item no-lines text-center>{{ competition.name }}</ion-item>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="teamSelected">
            <ion-item *ngIf="teams.length === 0" text-center no-lines>
                No hay equipos disponibles
            </ion-item>

            <ion-col (click)="selectTeam(team)" col-4 text-center *ngFor="let team of teams">
                <img text-center class="img-country" src="{{ team.img | image: 'team':competitionSelected.country }}">
                <br>
                <ion-item no-lines text-center>
                    {{ team.name }}
                </ion-item>
            </ion-col>
            <button ion-button block (click)="backToCompetitions()">Volver</button>
        </ion-row>
    </ion-grid>
</ion-content>