// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
.toolbar-background {
    background-color: #cc0000 !important;
    color: #fff !important;
}

$toolbar-md-title-text-color: #fff;
.alert-title {
    color: #fff !important;
}

.alert-radio-label {
    color: #fff !important;
}

$alert-md-background-color: #CC0000;
$alert-md-radio-label-text-color-checked: #fff;
$alert-md-radio-label-text-color: #fff;
$alert-md-button-label-text-color: #fff;
$alert-md-button-text-color: #fff;
$loading-ios-background: transparent;
$loading-md-background: $loading-ios-background;
$loading-wp-background: $loading-ios-background;
ion-spinner>svg {
    width: 80px !important;
    height: 80px !important;
}

ion-card {
    background: #000 !important;
    color: #fff !important;
}

ion-card-title {
    font-size: 17px !important;
    background: #000 !important;
    color: #fff !important;
}

ion-card-content {
    margin-top: 10px !important;
    padding: 5px !important;
    background: #CC0000 !important;
    color: #fff !important;
    border: 2px solid #cc0000;
    border-radius: 5%;
    ion-item {
        background: #CC0000 !important;
    }
}

.tabbar.show-tabbar {
    background: #cc0000 !important;
}

.tab-button, ion-icon {
    color: #fff !important;
}


ion-content {
    background: #000 !important;
    color: #fff !important;
}

ion-tabs {
    background: #000 !important;
    color: #fff !important;
}

ion-item {
    background: #000 !important;
    color: #fff !important;
}

h1 {
    color: #CC0000 !important;
}

h2 {
    color: #CC0000 !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #CC0000, secondary: #32db64, danger: #f53d3d, light: #fff, dark: #222);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";