<ion-header>
  <ion-navbar>
    <ion-title text-center>Busca tu equipo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item no-lines>
      <ion-label color="primary">Pais</ion-label>
      <ion-select [(ngModel)]="country" name="country">
        <ion-option *ngFor="let competition of competitions">{{ competition }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="primary">Equipo</ion-label>
      <ion-input no-lines text-right [(ngModel)]="team" name="team"></ion-input>
    </ion-item>

  </ion-list>
  <br>
  <button ion-button block (click)="searchMatch()">Buscar</button>
</ion-content>